@import "calendar";

/* Variables that set web details colors */
$color_1: #666;
$color_2: #029f5b;

/* Placeholder that defines how transitions will be in the website */
%web-transitions{
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.page-title{
    text-align: center;
}

/* NAVBAR START */
#navbarSupportedContent{
    li a{
        text-decoration: none;
        color: $color_1;
        font-weight: bold;
        font-size: 17px;
        
    }
    
    li a.active {
        color: $color_2;
        font-size: 18px;
    }
}

#logo{
    max-width: 75px;
    max-height: 75px;
}

/* Style for both login and register buttons, where 'button-style' placeholder is extended */
.btn-submit {
	background-color: $background_color_4;
	outline: none;
	color: $color_4;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: $border_color_5;
	&:hover {
		@extend %button-style;
	}
	&:focus {
		@extend %button-style;
	}
}

/* NAVBAR END */