@import "calendar";

/* Variables that set web details colors */
$color_1: #666;
$color_2: #029f5b;

/* Placeholder that defines how transitions will be in the website */
%web-transitions{
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

/* NAVBAR START */
#navbarSupportedContent{
    li a{
        text-decoration: none;
        color: $color_1;
        font-weight: bold;
        font-size: 17px;
        
    }
    
    li a.active {
        color: $color_2;
        font-size: 18px;
    }
}

#logo{
    max-width: 75px;
    max-height: 75px;
}

/* NAVBAR END */