/* Variables that set web details colors */
$color_1: #00415d;
$color_2: #666;
$color_3: #029f5b;
$color_4: #fff;
$color_5: #888;
$background_color_1: #fff;
$background_color_2: #59B2E0;
$background_color_3: #53A3CD;
$background_color_4: #1CB94E;
$background_color_5: #1CA347;
$border_color_1: #ccc;
$border_color_2: #fff;
$border_color_3: #59B2E6;
$border_color_4: #53A3CD;
$border_color_5: #1CB94A;
$border_color_6: #1CA347;

/* Placeholder that defines how transitions will be in the website */
%web-transitions{
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

/* NAVBAR START */
#navbar {
    height: 100px;
}

#navbarSupportedContent{
    li a{
        text-decoration: none;
        color: $color_2;
        font-weight: bold;
        font-size: 15px;
        
    }
    
    li a.active {
        color: $color_3;
    }
}

#logo{
    max-width: 75px;
    max-height: 75px;
}

/* NAVBAR END */